# Linear Regression

We will try to implement the linear regression method in one day, it will help us to juge the simplicity to implement this and we'll compare it with the other method and with the results obtained.

In [1]:
import time
import matplotlib.pyplot as plt
import numpy as np
import sklearn.linear_model as sk
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [2]:
# Load the dataset
# ts_data = pd.read_csv('data/dataHistorian.csv', sep=';')
ts_data = pd.read_csv('data/it-data-4metrics.csv', sep=',')

ts_data.head()

,metric_id,timestamp,value,metric_name,warn,crit,min,max
0,091c334c-a90a-4d8f-ba75-2c936220cd64,1575157723,13.375,cpu_prct_used,85.0,95.0,NaN,NaN
1,091c334c-a90a-4d8f-ba75-2c936220cd64,1575157423,13.500,cpu_prct_used,85.0,95.0,NaN,NaN
2,091c334c-a90a-4d8f-ba75-2c936220cd64,1575157123,13.375,cpu_prct_used,85.0,95.0,NaN,NaN
3,091c334c-a90a-4d8f-ba75-2c936220cd64,1575156823,13.500,cpu_prct_used,85.0,95.0,NaN,NaN
4,091c334c-a90a-4d8f-ba75-2c936220cd64,1575156523,13.750,cpu_prct_used,85.0,95.0,NaN,NaN

In [3]:
# Keep only the useful data
indexNames = ts_data[ ts_data['value'] < 0.0 ].index
# Delete these row indexes from dataFrame
ts_data.drop(indexNames , inplace=True)
# Delete the useless columns
for column in ts_data.columns[3:]:
    ts_data.drop(column,1, inplace=True)
    
ts_data.head()

                              metric_id   timestamp   value
0  091c334c-a90a-4d8f-ba75-2c936220cd64  1575157723  13.375
1  091c334c-a90a-4d8f-ba75-2c936220cd64  1575157423  13.500
2  091c334c-a90a-4d8f-ba75-2c936220cd64  1575157123  13.375
3  091c334c-a90a-4d8f-ba75-2c936220cd64  1575156823  13.500
4  091c334c-a90a-4d8f-ba75-2c936220cd64  1575156523  13.750

In [4]:
# Split the data into dummies
ts_data = pd.get_dummies(ts_data, prefix=['metric_id'], columns=['metric_id'])

ts_data.head()

,timestamp,value,metric_id_00f32458-39cf-4361-9abb-34247262b192,metric_id_01a8ad90-cba9-4f31-9c5e-6fa7c44428c3,metric_id_020bbd33-bfbd-4318-abce-f90ebd996a6f,metric_id_03660638-a475-409a-aa05-b6df0c998c94,metric_id_049d35fa-af41-4479-ba7b-55873bfc377e,metric_id_05398140-2e37-4635-ad89-b48dc87fb26e,metric_id_05caa75f-8c3b-4c86-a6a9-4bd227060f38,metric_id_061db7cd-67be-4efc-887c-87fd6f4b2f4a,...,metric_id_f23c1133-f91e-4a22-8edd-4e74c7df9fbe,metric_id_f2c46030-4a07-4693-86d8-4ff9c8dda8c8,metric_id_f48e4f1d-9056-4ccb-b392-907b0c226f61,metric_id_f4cc2725-4f66-45cf-bfb4-5374619d2b51,metric_id_f5efa804-8b41-40c5-8101-34464c02fe7a,metric_id_f60944d3-4b66-4cdd-8e51-bc96fba215fa,metric_id_f71ffb8a-e342-48ef-99dd-81cb6b806241,metric_id_f943f1e8-4ebd-45b0-95ac-5fb0514e6b15,metric_id_fcf0dce1-ec4d-437a-bff5-9e729993a5d6,metric_id_fe897d86-1ea4-4e00-a018-5cd8702e96b3
0,1575157723,13.375,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1575157423,13.500,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1575157123,13.375,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1575156823,13.500,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1575156523,13.750,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# Split the data into training/validating sets
training_limite = round(992041*ts_data.shape[0]/1000001)
training = ts_data.iloc[:training_limite]

validating = ts_data.iloc[training_limite+1:]

In [6]:
# Split the outcome values from the input dataset
y_train = training['value']
x_train = training.drop(columns=['value'])

y_valid = validating['value']
x_valid = validating.drop(columns=['value'])

In [7]:
# Create linear regression object
regr = sk.LinearRegression()

# Train the model using the training sets
start = time.time()
regr.fit(x_train, y_train)
end = time.time()

# Make predictions using the testing set
y_pred = regr.predict(x_valid)


# # The coefficients
# print('Coefficients: ', regr.coef_)
# The mean squared error
print('Mean squared error: %.2f' % mean_squared_error(y_valid, y_pred))
#The mean absolute error
print('Mean absolute error: %.2f' % mean_absolute_error(y_valid, y_pred))
# The coefficient of determination: 1 is perfect prediction
print('Coefficient of determination: {} %'.format(r2_score(y_valid, y_pred)*100))
# Fitting time
print("fitting time: {} second(s) for {} data".format(end-start, x_train.size))

Mean squared error: 8994850511.74
Mean absolute error: 83495.86
Coefficient of determination: 93.73155999323114 %
fitting time: 11.116828680038452 second(s) for 121984516 data

In [8]:
# df = pd.DataFrame({'Actual':y_valid, 'Predicted':y_pred})
# df.sort_index()

In [10]:
mydic = [{'val_parasite':1000, 'i_opt':783, 'R_2':8.5, 'training_time':0.31, 'data_size':4469936},
         {'val_parasite':100, 'i_opt':968, 'R_2':29.7, 'training_time':0.92, 'data_size':9131668},
         {'val_parasite':10000, 'i_opt':863, 'R_2':3.8, 'training_time':0.11, 'data_size':2199024},
         {'val_parasite':10, 'i_opt':987, 'R_2':68.7, 'training_time':2.92, 'data_size':28992960},
         {'val_parasite':1, 'i_opt':993, 'R_2':77.1, 'training_time':4.53, 'data_size':56998340},
         {'val_parasite':2, 'i_opt':510, 'R_2':2.2, 'training_time':1.59, 'data_size':26083200},
         {'val_parasite':6, 'i_opt':990, 'R_2':71.8, 'training_time':3.53, 'data_size':36773550},
         {'val_parasite':50, 'i_opt':974, 'R_2':58.5, 'training_time':1.52, 'data_size':15890169},
         {'val_parasite':150, 'i_opt':968, 'R_2':15.9, 'training_time':0.64, 'data_size':7984258},
         {'val_parasite':125, 'i_opt':968, 'R_2':19.8, 'training_time':0.65, 'data_size':8351448},
         {'val_parasite':75, 'i_opt':970, 'R_2':48.5, 'training_time':1.30, 'data_size':11790464},
         {'val_parasite':0, 'i_opt':992, 'R_2':88.4, 'training_time':10.61, 'data_size':121857516},
         {'val_parasite':0, 'i_opt':992041, 'R_2':93.7, 'training_time':11.11, 'data_size':121984516}]
result = pd.DataFrame(mydic)
result.sort_values(by=['R_2'], ascending=False)

    val_parasite   i_opt   R_2  training_time  data_size
12             0  992041  93.7          11.11  121984516
11             0     992  88.4          10.61  121857516
4              1     993  77.1           4.53   56998340
6              6     990  71.8           3.53   36773550
3             10     987  68.7           2.92   28992960
7             50     974  58.5           1.52   15890169
10            75     970  48.5           1.30   11790464
1            100     968  29.7           0.92    9131668
9            125     968  19.8           0.65    8351448
8            150     968  15.9           0.64    7984258
0           1000     783   8.5           0.31    4469936
2          10000     863   3.8           0.11    2199024
5              2     510   2.2           1.59   26083200